@font-face {
	font-family: "Five Fonts at Freddy's Regular";
	src: url('fonts/five_fonts_at_freddys_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/five_fonts_at_freddys_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/five_fonts_at_freddys_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/five_fonts_at_freddys_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/five_fonts_at_freddys_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/five_fonts_at_freddys_regular.svg#five_fonts_at_freddys_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root{
    --m-w: 1420px;
    --m-l: 15%;
    --h1_size: 20px;
    --h2_size: 15px;

}
h1{
    font-size: 25px;
    color: yellow;
}
h2{
    font-size: 20px;
    color: white;
}
p{
    font-size: 15px;
    color: #AAAAAA;
}
html{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 0;

}

body{
    background-color: black;
    font-family: "Five Fonts at Freddy's Regular"; 
    margin: 0 0 0 0;
}
header{
    width: 100%;
    
}
.logo{
    display: flex;
    color: yellow;
    margin-left: var(--m-l);
}
.logo h1{
    margin: 27px 0 0 0;
}
.line{
    width: 100%;
    height: 5px;
    background-color: yellow;
}

.block_1{
    width: 1200px;
    margin-left: var(--m-l);
    display: flex;
    justify-content: space-between;
    color: yellow;
}
.text_1{
    width: fit-content;
    margin-top: 50px;
}

.prs{
    float: right;
}
.content{
    margin-top: 100px;
}
.content h1{
    margin-bottom: 0;
}
.content ul{
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
}
.content ul li{
    padding-bottom: 20px;
    color: white;
    text-decoration: underline;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card button{
    cursor: pointer;
    display: flex;
    /* margin-left: 55px; */
    width: 320px;
    height: 58px;
    color: yellow;
    font-weight: 50;
    font-family: "Five Fonts at Freddy's Regular"; 
    background-color: black;
    border-color: yellow;
    justify-content: center;
    align-items: center;
}
.card h2{
    color: white;
    margin: 0 0 0 0;

}
.block_2{
    margin-left: var(--m-l);
}
.springtrap{
    margin-top: 108px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    
}
.springtrap_img{
    width: 500px;
    height: 425px;
    border-color: yellow;
    margin: 25px 0 0 0;
    border-width: 1px;
    border-style: solid;
}
.text_m{
    width: 450px;
}

.block_3{
    margin-top: 108px;
    margin-bottom: 108px;
    margin-left: var(--m-l);
}
.bl_text{
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 0 0 10px 30px;
    border-color: yellow;
    border-width: 1px;
    border-style: solid;
    align-items: center;
}
.bl_text li{
    list-style-type: decimal;
    color: white;
    font-family: "Five Fonts at Freddy's Regular"; 
    font-size: 20px;
}

footer img{
    width: 100%;
    object-fit: cover;
    height: auto;
    z-index: -1;
}